/*--------------------------------------------------------------
2. header
--------------------------------------------------------------*/


/*-- 2.1 topbar --*/
.topbar {
	padding: 0 255px;
	background: #EBEBEB;

	@media (max-width:1700px) {
		padding: 0 100px;
	}

	@media (max-width:1500px) {
		padding: 0 10px;
	}

	.contact-info {
		@media (max-width:991px) {
			text-align: center;
		}

		li {
			display: inline-flex;
			align-items: center;
			color: $black;
			font-size: 15px;
			font-weight: 400;
			padding: 10px 0;

			@media (max-width:991px) {
				padding-bottom: 0;
			}

			i {
				color: #ED6637;
				padding-right: 7px;

			}

			&:last-child {
				i {
					font-size: 13px;
				}
			}

			span {
				color: #000;
				font-size: 15px;
				font-weight: 400;
			}

			&:last-child {
				padding-left: 35px;

				@media (max-width:575px) {
					padding-left: 0;
				}
			}
		}
	}


	.contact-into {
		display: flex;
		align-items: center;
		justify-content: end;

		@media (max-width:991px) {
			justify-content: center;
		}

		@media (max-width:575px) {
			flex-wrap: wrap;
		}
	}

	.pryment-selector {
		padding-left: 10px;

		@media (max-width:757px) {
			padding-left: 10px;
		}

		@media (max-width:575px) {
			padding-left: 0;
		}
	}

	.social-media {
		padding-left: 20px;

		@media (max-width:340px) {
			padding-bottom: 10px;
			padding-left: 0;
		}

		li {
			display: inline-block;
			color: $black;
			font-size: 14px;
			font-weight: 500;

			@media (max-width:575px) {
				font-size: 14px;
			}

			a {
				padding: 0 8px;
				color: rgba(0, 0, 0, 0.72);
				transition: all .3s ease-in-out;

				&:hover {
					color: #ED6637;
				}
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}


	.language-selector {
		position: relative;
		display: inline;
		color: #000;
		font-size: 16px;
		font-weight: 500;

		@media (max-width:575px) {
			font-size: 14px;
		}
	}

	.language-selector select {
		display: none;
	}

	.language-selector .custom-select {
		position: relative;
		display: inline;
		cursor: pointer;
		padding: 10px;
		padding-right: 20px;

	}

	.custom-arrow {
		position: absolute;
		right: 0;
		top: 2px;
		padding-left: 5px;
		color: #000;
		font-size: 15px;

		@media (max-width:575px) {
			font-size: 14px;
			padding-left: 2px;
		}
	}

	.language-selector .custom-select img {
		vertical-align: middle;
		margin-right: 5px;
	}

	.language-selector .custom-options {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		border: 1px solid #ccc;
		background-color: white;
		border-radius: 4px;
		z-index: 111111;
	}

	.language-selector .custom-options div {
		padding: 6px 10px;
		cursor: pointer;
		display: flex;
		align-items: center;

		img {
			margin-right: 5px;
		}
	}

	.language-selector .custom-options div:hover {
		background-color: #f0f0f0;
	}

	.language-selector.active .custom-options {
		display: block;
	}

	.pryment-selector select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 10px 15px;
		padding-left: 10px;
		color: #000;
		font-size: 16px;
		font-weight: 500;
		border: 1px solid transparent;
		background: transparent;
		background-image: none;
		cursor: pointer;
		position: relative;


		@media (max-width:575px) {
			font-size: 14px;
		}

		&:focus-visible {
			outline: 0px;
		}

		option {
			color: #000;
			font-size: 16px;
			font-weight: 500;

			@media (max-width:575px) {
				font-size: 14px;
			}
		}
	}

	.pryment-selector {
		position: relative;
		display: inline-block;

	}

	.pryment-selector::after {
		font-family: themify;
		content: "\e64b";
		color: #000;
		font-size: 15px;
		position: absolute;
		right: -5px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}


}


/* midbar */
.midbar {
	padding: 0 255px;

	@media (max-width:1700px) {
		padding: 0 100px;
	}

	@media (max-width:1500px) {
		padding: 0 10px;
	}

	.logo-mid {
		max-width: 126px;
		max-height: 46px;

		@media (max-width:991px) {
			display: none;
		}
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: end;

		@media (max-width:991px) {
			justify-content: center;
		}

		@media (max-width:575px) {
			flex-wrap: wrap;
		}

		li {
			display: flex;
			align-items: center;
			margin-left: 50px;
			padding: 10px 0;

			@media (max-width:757px) {
				flex-wrap: wrap;
				justify-content: center;
				margin-left: 0px;
				text-align: center;
			}

			@media (max-width:575px) {
				width: 100%;
				display: block;
			}

			&:first-child {
				margin-left: 0;
			}

			.icon {
				padding-right: 8px;

				i {
					font-size: 37px;
					color: $theme-primary-color;

					@media (max-width:991px) {
						font-size: 25px;
					}
				}
			}

			.text {
				h3 {
					color: #222;
					font-size: 15px;
					font-weight: 800;
					text-transform: capitalize;

					@media (max-width:991px) {
						margin-bottom: 0;
					}
				}

				span {
					color: #222;
					font-size: 15px;
					font-weight: 400;
					line-height: 24px;
				}
			}
		}
	}


}


/* 2.2 navigation */


.wpo-site-header {
	/* navigation open and close btn hide for width screen */
	/* style for navigation less than 992px */
	/*navbar collaps less then 992px*/
	/*** cart-search-contact ***/
	z-index: 11;
	position: relative;

}

.wpo-site-header .navigation {
	background-color: #fff;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

.sticky-header {
	width: 100%;
	position: fixed;
	left: 0;
	top: -400px;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	-webkit-box-shadow: 0 -5px 15px #086ad84a;
	box-shadow: 0 -5px 15px #086ad84a;
}

.sticky-on {
	opacity: 1;
	top: 0;
	visibility: visible;
}

.wpo-site-header .navigation>.container {
	position: relative;
}

.wpo-site-header {
	padding: 0 255px;

	@media (max-width:1700px) {
		padding: 0 100px;
	}

	@media (max-width:1500px) {
		padding: 0 10px;
	}
}


.wpo-site-header {
	.row {
		width: 100%;
	}
}


@media (max-width: 991px) {
	.wpo-site-header .navigation {
		padding: 10px 0;
	}
}

.wpo-site-header #navbar {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.wpo-site-header #navbar>ul li a:hover,
.wpo-site-header #navbar>ul li a:focus {
	text-decoration: none;
	color: $theme-primary-color;
}

@media screen and (min-width: 992px) {
	.wpo-site-header #navbar {
		/*** hover effect ***/
	}

	.wpo-site-header #navbar li {
		position: relative;
	}


	.wpo-site-header #navbar>ul>li>a:hover:before,
	.wpo-site-header #navbar>ul>li>a.active:before {
		opacity: 1;
		visibility: visible;
	}

	.wpo-site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a {
		position: relative;
	}

	.wpo-site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a:before {
		font-family: "themify";
		content: "\e649";
		font-size: 11px;
		font-size: 0.73333rem;
		position: absolute;
		right: 15px;
		top: 58%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.wpo-site-header #navbar>ul>li:hover>.sub-menu {
		top: 100%;
		visibility: visible;
		opacity: 1;
	}

	.wpo-site-header #navbar .sub-menu>li:hover>.sub-menu {
		left: 100%;
		visibility: visible;
		opacity: 1;
	}
}

.wpo-site-header .container-fluid {
	padding-right: 0;
}

@media (max-width: 991px) {
	.wpo-site-header {
		/* class for show hide navigation */
	}

	.wpo-site-header .container {
		width: 100%;
		max-width: 100%;
	}

	.wpo-site-header .header-right {
		right: -10px;
	}

	.wpo-site-header .navbar-header button span {
		background-color: #fff;
		width: 20px;
		display: block;
		height: 2px;
		margin-bottom: 5px;
	}

	.wpo-site-header .navbar-header button span:last-child {
		margin: 0;
	}
}

.wpo-site-header #navbar {
	ul {
		list-style: none;
	}
}

@media (max-width: 991px) and (max-width: 991px) {
	.wpo-site-header #navbar {
		top: 0;
		visibility: visible;
		opacity: 1;
	}
}

@media (max-width: 991px) {
	.wpo-site-header #navbar>ul {
		z-index: 101;
	}

	.wpo-site-header #navbar ul a {
		color: #000;
	}

	.wpo-site-header #navbar ul a:hover,
	.wpo-site-header #navbar ul li.current a {
		color: $theme-primary-color;
	}

	.wpo-site-header #navbar .close-navbar .ti-close {
		position: relative;
		top: 1px;
	}

	.wpo-site-header .navbar-toggler .first-angle,
	.wpo-site-header .navbar-toggler .last-angle {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.wpo-site-header .x-close .middle-angle {
		opacity: 0;
	}

	.wpo-site-header .x-close .first-angle {
		position: absolute;
		-webkit-transform: rotate(-44deg);
		top: 16px;
		left: 10px;
	}

	.wpo-site-header .x-close .last-angle {
		-webkit-transform: rotate(44deg);
		position: absolute;
		top: 16px;
		right: 10px;
	}
}

@media (max-width: 767px) {
	.wpo-site-header .navbar-header .navbar-brand {
		font-size: 24px;
	}

	.wpo-site-header #navbar .navbar-nav {
		margin: 0;
	}
}

@media (max-width: 991px) {
	.wpo-site-header .navbar-collapse.collapse {
		display: none;
	}

	.wpo-site-header .navbar-collapse.collapse.in {
		display: block;
	}

	.wpo-site-header .navbar-header .collapse,
	.wpo-site-header .navbar-toggle {
		display: block;
	}

	.wpo-site-header .navbar-header {
		float: none;
		position: relative;
		z-index: 99;
		text-align: center;
	}

	.wpo-site-header .navbar-right {
		float: none;
	}

	.wpo-site-header .navbar-nav {
		float: none;
	}

	.wpo-site-header .navbar-nav>li {
		float: none;
	}
}

.wpo-site-header .header-right {
	display: flex;
	justify-content: flex-end;
	z-index: 991;
	position: relative;
	align-items: center;
}

.wpo-site-header .header-right button {
	padding: 0;
	border: 0;
	outline: 0;
}

.wpo-site-header .header-right>div {
	float: left;
	position: relative;
	margin-right: 8px;
}

.wpo-site-header .header-right {
	.close-form {
		.theme-btn {
			padding: 18px 45px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.7px;

			&::after {
				background: #1d6db2;
			}

			@media(max-width:1400px) {
				padding: 10px 15px;
				font-size: 15px;
			}
		}
	}
}

@media (max-width: 450px) {
	.wpo-site-header .header-right>div {
		margin-right: 10px;
	}

	.wpo-site-header .header-right {
		right: -30px;
	}
}

.wpo-site-header .header-right>div:last-child {
	margin: 0 0 0 30px;
	position: relative;

	&::before {
		position: absolute;
		height: 98%;
		content: '';
		width: 1px;
		left: -20px;
		background: rgba(255, 255, 255, 0.21);
	}

	@media (max-width: 767px) {
		margin: 3px 0 0 10px;
	}

}

.wpo-site-header .header-right .header-search-form-wrapper {
	position: relative;
}



.wpo-site-header .header-right .header-search-form-wrapper i {
	font-size: 22px;
	// color: $white;
}

.wpo-site-header .header-right .header-search-form i {
	font-size: 22px;
	// color: $white;
}

.wpo-site-header .header-right .cart-toggle-btn {
	@media(max-width:450px) {
		display: none;
	}
}

.wpo-site-header .header-right .search-toggle-btn,
.wpo-site-header .header-right .cart-toggle-btn {
	background-color: rgba(7, 1, 67, .05);
	line-height: 0.66em;
	color: $white;
	width: 50px;
	height: 50px;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;

	@media(max-width:1200px) {
		width: 50px;
		height: 50px;
	}

	@media(max-width:991px) {
		width: 40px;
		height: 40px;
	}

	.fi {
		font-size: 20px;

		&:before {
			@media(max-width:991px) {
				font-size: 16px;
			}
		}
	}

	.ti-close {
		display: block;
		line-height: 20px;
		position: relative;
		top: -2px
	}

}

/*** cart-search-contact ***/
.cart-search-contact {

	button {
		background: transparent;
		padding: 0;
		border: 0;
		outline: 0;
	}

	.fi {
		font-size: 30px;

	}

	>div {
		float: left;
		position: relative;
	}

	>div+div {
		margin-left: 12px;
	}

	.header-search-form {
		position: absolute;
		width: 350px;
		right: 0;
		top: 75px;
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		background: $white;
		padding: 30px;
		border-radius: 6px;
		@include transition-time(0.5s);
		box-shadow: -2px 18px 40px -9px rgba(153, 153, 153, 1);

		@include media-query(991px) {
			top: 65px;
		}

		@include media-query(767px) {
			right: 15px;
		}

		@include media-query(575px) {
			width: 260px;
			padding: 15px;
		}
	}

	.header-search-form-wrapper .fi:before {
		font-size: 18px;
	}

	form div {
		position: relative;

		button {
			position: absolute;
			right: 15px;
			top: 50%;
			@include translatingY();

			.fi {
				&:before {
					font-size: 18px !important;
				}
			}
		}
	}

	input {
		width: 100%;
		height: 50px;
		padding: 6px 20px;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		border: 1px solid $border-color;

		&:focus {
			box-shadow: none;
			border-color: $theme-primary-color;
		}
	}


}

.wpo-site-header .header-right .header-search-content-toggle {
	opacity: 1;
	visibility: visible;
	right: 0;
	transform: scale(1);
}

@media (max-width: 991px) {
	.page-wrapper {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.body-overlay:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.9);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.header-search-area {
	background: #fff;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}

.header-search-area h3 {
	font-size: 45px;
	margin: 0 0 1em;
}

.header-search-area form {
	position: relative;
}

.header-search-area input {
	height: 50px;
	font-size: 18px;
	font-size: 1.2rem;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #d0d0d0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header-search-area input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: $theme-primary-color;
}

.header-search-area form button {
	background: transparent;
	border: 0;
	font-size: 20px;
	font-size: 1.33333rem;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.header-search-area form button:focus {
	border: none;
	outline: none;
}

.header-search-area .close-form {
	position: absolute;
	right: 35px;
	top: 35px;
	bottom: auto;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

.header-search-area .close-form button {
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 13px;
	font-size: 0.86667rem;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 2px;
	z-index: 99;
}

.header-search-area .close-form button:focus {
	border: 0;
	outline: 0;
}





.wpo-site-header {

	.navigation {
		border-radius: 0px 0px 20px 20px;
		background: #122F2A;

		>.container {
			position: relative;
		}

		@include media-query(991px) {}
	}

	#navbar {
		@include transition-time(0.5s);

		>ul li a:hover,
		>ul li a:focus {
			text-decoration: none;
			color: #FFB40A;
			text-decoration: underline;
		}

		// style for widther screen
		@include widther(992px) {
			li {
				position: relative;
			}

			>ul>li>a {
				font-size: 16px;
				padding: 35px 12px;
				display: block;
				color: $white;
				position: relative;
				font-weight: 500;
				text-transform: capitalize;

				@media(max-width:1870px) {
					padding: 35px 14px;
				}
			}

			>ul .sub-menu {
				background-color: #fff;
				box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
				width: 285px;
				position: absolute;
				padding: 20px 0;
				left: 0;
				top: 110%;
				z-index: 10;
				visibility: hidden;
				opacity: 0;
				@include transition-time(0.3s);
				transform: scaleY(0);
				transform-origin: center top 0;
				transition: all 0.3s ease-in-out 0s;
				-webkit-transition: all 0.3s ease-in-out 0s;
			}

			>ul>li .sub-menu a {
				font-size: 16px;
				display: block;
				padding: 10px 15px;
				color: $dark-gray;
				position: relative;
				overflow: hidden;
				font-weight: 500;
				text-transform: capitalize;



				&:hover,
				&.active {
					&:after {
						width: 40px;
						opacity: 1;
						visibility: visible;
					}
				}
			}

			>ul>li>.sub-menu .sub-menu {
				left: 110%;
				top: 0;
				@include transition-time(0.3s);
				transform: none;
				transform-origin: none;
				transition: all 0.3s ease-in-out 0s;
			}

			>ul>li>.sub-menu>.menu-item-has-children>a {
				position: relative;

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					font-size: calc-rem-value(11);
					position: absolute;
					right: 15px;
					top: 50%;
					@include translatingY();
				}
			}

			/*** hover effect ***/
			>ul>li:hover>.sub-menu {
				top: 100%;
				visibility: visible;
				opacity: 1;
				transform: scaleY(100%);
				-webkit-transform: scaleY(100%);
			}

			.sub-menu>li:hover>.sub-menu {
				left: 100%;
				visibility: visible;
				opacity: 1;
			}
		}

		@include media-query(991px) {

			>ul>li a {
				display: block;
				font-size: 15px;
				font-size: calc-rem-value(15);
				color: $white;
				font-weight: 600;

				&:hover,
				&.active {
					color: $white;
				}
			}

			>ul .sub-menu>li:last-child {
				border-bottom: 0;
			}

			>ul>li>.sub-menu a {
				padding: 8px 15px 8px 45px;
			}

			>ul>li>.sub-menu .sub-menu a {
				padding: 8px 15px 8px 65px;
			}

			>ul .menu-item-has-children>a {
				position: relative;
				color: #ddd;

				&:hover,
				&.active {
					color: #fff;
				}

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					font-size: calc-rem-value(11);
					position: absolute;
					right: 30px;
					top: 50%;
					@include translatingY();
					@include transition-time(0.3s);
				}

				&.rotate {
					&:before {
						transform: rotate(90deg);
						top: 29%;
					}
				}

				&.rotate {
					color: #fff;
				}
			}
		}
	}

	/* navigation open and close btn hide for width screen */
	@include widther(992px) {
		.navbar-header .open-btn {
			display: none;
		}

		#navbar .close-navbar {
			display: none;
		}
	}

	.menu-close {
		display: none;
	}

	.navbar-header {
		display: none;
	}

	/* style for navigation less than 992px */
	@include media-query (991px) {
		.container {
			width: 100%;
		}

		.navbar-header {
			display: block;
		}

		.mobail-menu button {
			background-color: $theme-primary-color;
			width: 40px;
			height: 35px;
			border: 0;
			padding: 5px 10px;
			outline: 0;
			position: relative;
			z-index: 20;

			&:focus {
				outline: none;
				box-shadow: none;
			}


			span {
				background-color: $white;
				width: 20px;
				display: block;
				height: 2px;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			}
		}

		#navbar {
			background: $theme-primary-color-s2;
			display: block !important;
			width: 300px;
			height: 100%;
			margin: 0;
			padding: 0;
			border: 0;
			position: fixed;
			left: -320px;
			top: 0px;
			z-index: 999999;
			opacity: 0;
			visibility: hidden;

			.navbar-nav {
				display: block;
			}

			>ul {
				position: relative;
				z-index: 101;
			}

			ul a {
				color: $black;
			}

			ul a:hover,
			ul li.current a {
				color: $theme-primary-color;
			}

			.navbar-nav {
				height: 100%;
				overflow: auto;
				padding-bottom: 60px;
			}

			.close-navbar {
				background-color: $white;
				width: 40px;
				height: 40px;
				color: $black;
				border: 0;
				outline: none;
				position: absolute;
				left: -41px;
				top: 90px;
				z-index: 20;

				.ti-close {
					position: relative;
					top: 1px;
				}
			}


		}

		.menu-close {
			display: block;
			z-index: 99;
			background: none;
			text-align: center;
			color: $white;
			border: 0;
			text-align: center;
			margin-left: auto;
			margin-top: 30px;
			margin-right: 30px;
			margin-bottom: 30px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border: 1px solid $white;
		}

		/* class for show hide navigation */
		.slideInn {
			left: 0 !important;
			opacity: 1 !important;
			visibility: visible !important;
		}

		.navbar-toggler .first-angle,
		.navbar-toggler .last-angle {
			@include transition-time(0.3s);
		}

		.x-close .middle-angle {
			opacity: 0;
		}

		.x-close .first-angle {
			position: absolute;
			-webkit-transform: rotate(-44deg);
			top: 16px;
			left: 10px;
		}

		.x-close .last-angle {
			-webkit-transform: rotate(44deg);
			position: absolute;
			top: 16px;
			right: 10px;
		}
	}

	@include media-query(767px) {
		.navbar-header .navbar-brand {
			font-size: 24px;
		}

		#navbar .navbar-nav {
			margin: 0;
		}
	}

	.navbar-header .navbar-brand {
		display: block;

		img {
			max-width: 95px;
		}
	}


	/*navbar collaps less then 992px*/
	@include media-query (991px) {
		.navbar-collapse.collapse {
			display: none;
		}

		.navbar-collapse.collapse.in {
			display: block;
		}

		.navbar-header .collapse,
		.navbar-toggle {
			display: block;
		}

		.navbar-header {
			float: none;
		}

		.navbar-right {
			float: none;
		}

		.navbar-nav {
			float: none;
		}

		.navbar-nav>li {
			float: none;
		}
	}


}




@media(max-width: 440px) {
	.wpo-site-header .navbar-header .navbar-brand {
		img {
			max-width: 88px;
		}
	}
}

@media(max-width: 370px) {
	.wpo-site-header .navbar-header .navbar-brand {
		img {
			max-width: 88px;
		}
	}
}




@media(max-width: 1500px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 30px 15px;
	}

	.wpo-site-header {
		padding: 0 10px;
	}

}

@media(max-width: 1400px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 30px 10px;
		font-size: 18px;
	}

}

@media(max-width: 1200px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 30px 6px;
		font-size: 16px;
	}

	.wpo-site-header .header-right .theme-btn {
		display: none;
	}
}

@media(max-width: 991px) {
	.wpo-site-header #navbar>ul>li>a {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	.header-right .theme-btn {
		padding: 20px 12px;
	}

	.wpo-site-header .header-right .close-form {
		display: none;
	}

}



@media(max-width:991px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 15px 30px;
	}
}

@media(max-width:991px) {

	.wpo-site-header,
	.wpo-header-style-2 {
		z-index: 99999;
	}
}

.wpo-site-header .navigation.sticky-header {
	padding: 0 130px;
}

@media(max-width:1700px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 0 50px;
	}
}

@media(max-width:1400px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 0 20px;
	}
}

@media(max-width:991px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 20px;
	}
}

@media(max-width:575px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 20px 10px;
	}
}

/* header-s2 */

.header-s2,
.header-s3 {
	position: relative;
	z-index: 11;

	li{
		margin-bottom: 0;
	}

	.topbar {
		background: transparent;
	}

	.topbar .contact-info li span {
		color: $white;
	}

	.topbar .social-media {
		padding-left: 0px;
		margin-right: 5px;
		border-radius: 22px;
		background: rgba(217, 217, 217, 0.12);
		padding: 6px;
		padding-bottom: 2px;
	}

	.topbar .social-media li a {
		background: #d2ffaf;
		padding: 6px 8px;
		margin: 0px 8px;
		border-radius: 5px;
		color: #2c3129;

		&:hover {
			color: #FFB302;
		}
	}

	.topbar .pryment-selector {
		padding-right: 10px;
	}

	.topbar .pryment-selector select {
		color: $white;
		font-family: $heading-font;
	}

	.topbar .pryment-selector::after {
		color: $white;
		right: 5px;
		font-size: 12px;
	}

	.topbar .language-selector {
		color: $white;
		font-family: $heading-font;
	}

	.topbar .language-selector .custom-options div {
		color: $black;
	}

	.topbar .custom-arrow {
		color: $white;
		font-size: 12px;
		top: 4px;
	}

	.topbar .language-selector .custom-select img {
		width: 20px;
		height: 20px;
		background: rgba(255, 255, 255, 0.13);
		box-shadow: 0 0px 8px rgba(0, 0, 0, 0.12);
		border-radius: 100px;
	}


	.wpo-site-header {
		padding: 0 215px;

		@media (max-width:1799px) {
			padding: 0 180px;
		}

		@media (max-width:1720px) {
			padding: 0 150px;
		}

		@media (max-width:1699px) {
			padding: 0 100px;
		}

		@media (max-width:1550px) {
			padding: 0 50px;
		}

		@media (max-width:1500px) {
			padding: 0 10px;
		}
	}
	
	.wpo-site-header .navbar-header {
		display: block;
	}

	.wpo-site-header #navbar>ul>li>a {
		color: $heading-color;

		@media screen and (min-width: 1400px) {
			padding: 35px 12px;
		}

		@media screen and (max-width: 1399px) {
			padding: 30px 9px;
		}

		@media screen and (max-width: 1199px) {
			padding: 25px 5px;
		}

		@media (max-width: 991px) {
			padding: 15px 30px;
			color: $white;
		}
	}

	.wpo-site-header .navigation {
		border-radius: 0;
		background: transparent;
		padding: 0 50px;
		padding-right: 25px;

		@media (max-width:1400px) {
			padding: 0 20px;
		}

		@media (max-width:991px) {
			padding: 0;
		}

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			width: 100%;
			height: 100%;
			background: url(/images/header-shape.svg) center / cover no-repeat;
			z-index: -1;

			@media (max-width:991px) {
				background: $white;
			}
		}
	}

	.wpo-site-header .header-right .close-form .theme-btn {
		text-transform: capitalize;
		font-family: $heading-font;
		font-size: 16px;

		@media (max-width:1199px) {
			font-size: 12px;
			display: block;
		}

		@media (max-width:991px) {
			display: none;
		}
	}


	.wpo-site-header .header-right .search-toggle-btn {
		background: #F2F5F9;
		color: #061408;
	}

	.wpo-site-header .header-right .cart-toggle-btn {
		color: #061408;
		line-height: 1px;
	}

	.wpo-site-header .header-right>div {
		margin-left: 20px;

		@media (max-width: 450px) {
			margin: 0;
			margin-right: 5px;
		}
	}

	.wpo-site-header .header-right>div:last-child::before {
		left: -95px;
		background: rgba(112, 116, 128, 0.08);
	}


	@media (max-width: 991px) {
		.wpo-site-header .header-right {
			right: -27px;
		}
	}

	@media (max-width: 767px) {
		.wpo-site-header .header-right {
			right: -20px;
		}
	}
}

/* header-s3 */

.header-s3 {
	.topbar {
		background: #6cbf2c;
		padding: 5px 0px;
	}

	.topbar .contact-info li i {
		color: $white;
	}

	.topbar .social-media {
		margin-right: 0;
		margin-left: 10px;
		background: transparent;
		padding: 0px;
		padding-bottom: 0px;
	}

	.wpo-site-header {
		padding: 0 255px;
		background-color: #ebf8f3;

		@media (max-width:1799px) {
			padding: 0 200px;
		}

		@media (max-width:1700px) {
			padding: 0 100px;
		}

		@media (max-width:1500px) {
			padding: 0 10px;
		}

		.sticky-header.sticky-on {
			padding: 0 255px;

			@media (max-width:1799px) {
				padding: 0 200px;
			}

			@media (max-width:1700px) {
				padding: 0 100px;
			}

			@media (max-width:1500px) {
				padding: 0 10px;
			}
		}

		.navigation {
			padding: 0;
			background: #ebf8f3;

			&::before {
				display: none;
			}
		}



		.header-right>div {
			margin: 0 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		.header-right>div:last-child::before {
			display: none;
		}
	}


}

.mobileMenu {
    position: fixed;
    left: -300px;
    top: 0;
    z-index: 9999;
    height: 100vh;
    width: 300px;
    background: #18322E;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
    overflow-x: auto;
    overflow-y: scroll;
}
.responsivemenu .card-body{
    background: #18322E;
}
.mobileMenu h2{
    padding-left: 20px;
}
.mobileMenu.show{
    left: 0;
}
.showmenu {
    position: relative;
    top: 0;
    z-index: 999;
    cursor: pointer;
}
.responsivemenu {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}
.responsivemenu li a,
.responsivemenu li p,
.responsivemenu ul{
    display: block;
    padding: 10px 35px;
    font-size: 13px;
    letter-spacing: 0;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.responsivemenu li p{
    position: relative;
    margin-bottom: 0;
}
.responsivemenu ul.subMenu{
    padding-top: 0;
    padding-left: 15px;
    padding-right: 0;
}
.responsivemenu ul.subMenu ul{
    position: relative;
    margin-bottom: 0;
    padding-left: 0;
}
.responsivemenu ul{
    list-style: none;
}
.responsivemenu ul p,
.responsivemenu ul a{
    color: #fff;
    position: relative;
    font-size: 13px;
	margin-bottom: 0;
}

.responsivemenu ul p i{
    position: absolute;
    right: 0;
    top: 5px;
}

.responsivemenu .card{
  border:none
}
.responsivemenu .card-body{
  padding-top: 0;
}


.responsivemenu li a{
    position: relative;
}
.responsivemenu li i{
    position: absolute;
    right: 20px;
    top: 17px;
}
.showmenu i {
    font-size: 30px;
    color: #fff;
}

.mobileMenu{
    display: none;
}
.showmenu{
    display: none;
}
@media (max-width:992px){
    .showmenu {
        display: block;
        width: 40px;
        height: 36px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
    }

    .showmenu button:focus{
        outline: none;
        box-shadow: none;
    }
    .showmenu button span{
        background-color: #fff;
        width: 20px;
        display: block;
        height: 2px;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .mobileMenu{
        display: block;
    }
}



.middle-header-3 .showmenu {
    top: 36px;
}
.middle-header2 .showmenu {
    top: 26px;
}

.middle-header-3 .showmenu i{
    color: #fff;
}


@media(max-width:450px){
    .mobileMenu {
        left: -260px;
        width: 260px;
    }
    .responsivemenu li a, .responsivemenu li p {
        font-size: 14px;
        padding: 13px 25px;
    }
}


.responsivemenu a:not([href]):not([class]), 
.responsivemenu a:not([href]):not([class]):hover{
 color: #ddd;
}