.theme-btn {
	background: #114778;
	color: $white;
	display: inline-block;
	padding: 20px 65px;
	border: 0;
	text-transform: capitalize;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	position: relative;
	font-family: $base-font;
	font-size: 16px;
	border-radius: 40px;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.75px;
	overflow: hidden;

	&::after {
		background-color: $theme-primary-color-s2;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: scaleY(0);
		transform-origin: bottom left;
		transition: transform .5s cubic-bezier(.86, 0, .07, 1);
		transition-timing-function: cubic-bezier(.86, 0, .07, 1);
		width: 100%;
		z-index: -1;
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;
	}

	&:hover {
		&::after {
			transform-origin: top right;
			transform: scale(1);
		}
	}



	@include media-query(991px) {
		font-size: 14px;
	}

	@include media-query(767px) {
		padding: 12px 18px;
		font-size: 14px;
	}
}

.theme-btn-s2 {
	background: $white;
	color: $text-color;
	display: inline-block;
	padding: 12px 22px;
	border: 1px solid $theme-primary-color;
	border-radius: 55px;
	text-transform: capitalize;

	z-index: 1;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 55px;
		@include linear-gradient-bg(left, #00ded8, #00a7d5);
		transition: opacity 0.5s ease-out;
		opacity: 0;
		z-index: -1;
	}

	@include media-query(991px) {
		font-size: 14px;
		font-size: calc-rem-value(14);
	}

	&:hover,
	&:focus,
	&:active {
		background: darken($theme-primary-color, 5%);
		// @include linear-gradient-bg(left, #00ded8, #00a7d5);
		color: $white;
	}

	&:hover:after {
		opacity: 1;
	}

	@include media-query(767px) {
		padding: 12px 18px;
		font-size: 13px;
	}
}



.view-cart-btn {
	@extend .theme-btn;
	display: block;
	margin-top: 15px;
	border-radius: 5px;
	padding: 10px 45px;



	&:after {
		display: none;
	}

	&:hover {
		background-color: darken($theme-primary-color, 8%);
	}

	&.s1 {
		background: #ddd;

		&:hover {
			background-color: darken(#ddd, 8%);
		}
	}

}

.donation_button{
	background: #1d6db2;
    color: #fff;
    padding: 15px 41px;
    border-radius: 3px;
    font-size: 18px;
}